{:paths ["src" "resources"]
 :pablo/config
 {:github      "teknql/systemic"
  :desc        "Application state management for Clojure"
  :target      :jar
  :group-id    teknql
  :artifact-id systemic}
 :deps
 {}
 :aliases
 {:dev
  {:extra-paths ["test"]
   :extra-deps  {io.github.tonsky/clj-reload {:mvn/version "1.0.0"}}}}}
